---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Join me as I unravel the tech world, one post at a time! From coding and designing adventures to deep dives into the latest frameworks, I’m all about 'clear thinking made visual'. Whether you're here for insights or inspiration, there's something for everyone on this journey. Let's make tech fun, together! 🚀"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="15" />
    </div>
  </section>
</Layout>
